@font-face{
    font-family: "decorativa";
    src: url(../fonts/Oswald-VariableFont_wght.ttf);

}
@font-face{
    font-family: "padrao";
    src:url(../fonts/Roboto-Regular.ttf);
}
$fonte-decorativa:"decorativa"; // se caso mudar fonte meche aqui 
$font-padrao:"padrao";